.logo-container {
  z-index: 0;
  width: 600px;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;

  svg {
    width: 70%;
    height: auto;
    bottom: 0;
  }

  .solid-logo {
    width: 70%;
    z-index: 1;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    opacity: 0;
    animation: fill 3s ease forwards 3s;
  }

  #letter-M {
    stroke-dasharray: 3638px;
    stroke-dashoffset: 3638px;
    animation: line-animation 3s ease forwards 1.5s;
  }

  #letter-B {
    stroke-dasharray: 1633px;
    stroke-dashoffset: 1633px;
    animation: line-animation 3s ease forwards 1.7s;
  }

  #letter-R {
    stroke-dasharray: 1865px;
    stroke-dashoffset: 1865px;
    animation: line-animation 3s ease forwards 1.8s;
  }
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes fill {
  to {
    opacity: 1;
  }
}
