.skills-animaiton {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.5em;
  opacity: 0;
  animation: fadeIn 1s 1s;
  animation-fill-mode: forwards;
}

.tagcloud--item {
  color: var(--primary-color);
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: #367bf3;
}
