.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    font-family: sans-serif;
    width: 100%;
    border: 0;
    background-color: #115173;
    color: #fff;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    font-family: sans-serif;
    width: 100%;
    border: 0;
    background-color: #115173;
    color: #fff;
    height: 50px;
    font-size: 16px;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    outline: transparent;
  }

  .flat-button {
    color: var(--primary-color);
    background: var(--dark-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 1.3rem 2.3rem;
    border: 1px solid;
    border-image: linear-gradient(
        90deg,
        rgba(19, 253, 224, 1) 0%,
        rgba(54, 123, 243, 1) 100%
      )
      10;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    transition: 0.5s;
    white-space: nowrap;

    &:hover {
      color: var(--dark-color);
      background: var(--gradient);
    }
  }
}

.contact-img {
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
}
